In [1]:
tup = (1,2,3,4,5)

In [2]:
type(tup)

tuple

In [3]:
tup1 = (1,"bappy", True, 0.3)

In [4]:
type(tup1)

tuple

In [5]:
tup[0]

1

In [6]:
lis = [1,2,3,4]

In [7]:
lis[3] = 100

In [8]:
lis

[1, 2, 3, 100]

In [9]:
tup = (1,2,3,4,5)

In [10]:
tup[4] = 100

TypeError: 'tuple' object does not support item assignment

In [11]:
tup = (1,2,3,4,5)

In [12]:
tup.count(3)

1

In [13]:
tup.append(45)

AttributeError: 'tuple' object has no attribute 'append'

In [14]:
countries = ("Spain", "Italy", "India", "England", "Germany")
print(type(countries))
temp = list(countries)
print(type(temp))

<class 'tuple'>
<class 'list'>

In [15]:
temp

['Spain', 'Italy', 'India', 'England', 'Germany']

In [16]:
temp.append("china")

In [17]:
countries= tuple(temp)

In [18]:
countries

('Spain', 'Italy', 'India', 'England', 'Germany', 'china')

In [19]:
tup = (1,2,3,4,5)

for i in tup:
    print(i)

1
2
3
4
5