In [1]:
info = {"name":"Bappy", "age":22, "email":"boktiar@ineuron.ai"}

In [2]:
info["name"]

'Bappy'

In [3]:
info["age"]

22

In [4]:
info["email"]

'boktiar@ineuron.ai'

In [5]:
info['phone']

KeyError: 'phone'

In [9]:
print(info.get("phone"))

None

In [10]:
info1 = {"ineuron": {"name":"Bappy", "Age":22},
         "dswithbappy": {"name":"dswith","age":45}
        }

In [11]:
type(info1)

dict

In [12]:
info1['ineuron']

{'name': 'Bappy', 'Age': 22}

In [13]:
type(info1['ineuron'])

dict

In [14]:
info1['ineuron']['name']

'Bappy'

In [15]:
info1 = {"ineuron": {"name1":"Bappy","name2":"karan", "Age":22},
         "dswithbappy": {"name":"dswith","age":45}
        }

In [16]:
info1['ineuron']['name1']

'Bappy'

In [17]:
info1['ineuron']['name2']

'karan'

In [19]:
info1.get("ineuron").get("name1")

'Bappy'

In [20]:
info = {"name":"Bappy", "age":22, "email":"boktiar@ineuron.ai"}

In [21]:
info.values()

dict_values(['Bappy', 22, 'boktiar@ineuron.ai'])

In [22]:
info.keys()

dict_keys(['name', 'age', 'email'])

In [23]:
info.items()

dict_items([('name', 'Bappy'), ('age', 22), ('email', 'boktiar@ineuron.ai')])

In [26]:
tem = info.items()

In [29]:
for i in tem:
    print(i)

('name', 'Bappy')
('age', 22)
('email', 'boktiar@ineuron.ai')

In [28]:
for i in tem:
    print(type(i))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [30]:
student_marks = {
    "class1":[2,3,4,5,6,7],
    "class2":[4,5,6,7,8,9]
}

In [31]:
student_marks['class1']

[2, 3, 4, 5, 6, 7]

In [32]:
type(student_marks['class1'])

list

In [33]:
student_marks = {
    "class1":(2,3,4,5,6,7),
    "class2":(4,5,6,7,8,9)
}

In [34]:
student_marks['class1']

(2, 3, 4, 5, 6, 7)

In [35]:
type(student_marks['class1'])

tuple

In [36]:
student_marks[class1]

NameError: name 'class1' is not defined

In [37]:
dic = {
    123:"Bappy",
    234:"karan"
}

In [38]:
dic[123]

'Bappy'

In [39]:
dic["123"]

KeyError: '123'

In [40]:
info = {"name":"Bappy", "age":22, "email":"boktiar@ineuron.ai"}

In [ ]:
info.values()

In [43]:
for val in info.values():
    print(val)

Bappy
22
boktiar@ineuron.ai

In [45]:
for key,val in info.items():
    print(key,val)

name Bappy
age 22
email boktiar@ineuron.ai

In [17]:
info = {"name":"Bappy", "age":22, "email":"boktiar@ineuron.ai"}
info

{'name': 'Bappy', 'age': 22, 'email': 'boktiar@ineuron.ai'}

In [19]:
for key, val in info.items():
    print(key, val)

name Bappy
age 22
email boktiar@ineuron.ai

In [46]:
for key,val in info.items():
    print(key,val,sep=": ")

name: Bappy
age: 22
email: boktiar@ineuron.ai

## practice

In [50]:
nested_dict = {
    'user1': {
        'name': 'Alice',
        'age': 30,
        'address': {
            'street': '123 Main St',
            'city': 'New York',
            'zip': '10001'
        },
        'contacts': {
            'email': 'alice@example.com',
            'phone': '555-1234'
        }
    },
    'user2': {
        'name': 'Bob',
        'age': 25,
        'address': {
            'street': '456 Elm St',
            'city': 'Los Angeles',
            'zip': '90001'
        },
        'contacts': {
            'email': 'bob@example.com',
            'phone': '555-5678'
        }
    }
}

In [55]:
nested_dict

{'user1': {'name': 'Alice',
  'age': 30,
  'address': {'street': '123 Main St', 'city': 'New York', 'zip': '10001'},
  'contacts': {'email': 'alice@example.com', 'phone': '555-1234'}},
 'user2': {'name': 'Bob',
  'age': 25,
  'address': {'street': '456 Elm St', 'city': 'Los Angeles', 'zip': '90001'},
  'contacts': {'email': 'bob@example.com', 'phone': '555-5678'}}}

In [58]:
nested_dict['user1']['address']['zip']

'10001'

In [52]:
nested_dict["user1"]["address"]["zip"]

'10001'

In [54]:
nested_dict['user2']['contacts']['phone']

'555-5678'

In [59]:
complex_dict = {
    'company': 'TechCorp',
    'employees': {
        'John': {
            'age': 35,
            'position': 'Software Engineer',
            'projects': ['Project A', 'Project B'],
            'salary': 85000.00,
            'performance': {
                '2019': 'Excellent',
                '2020': 'Satisfactory',
                '2021': 'Outstanding'
            }
        },
        'Emily': {
            'age': 28,
            'position': 'Data Scientist',
            'projects': ['Project B', 'Project C'],
            'salary': 90000.00,
            'performance': {
                '2019': 'Satisfactory',
                '2020': 'Outstanding',
                '2021': 'Excellent'
            }
        }
    },
    'departments': {
        'engineering': ['John'],
        'data_science': ['Emily']
    },
    'locations': {
        'headquarters': {
            'city': 'San Francisco',
            'country': 'USA'
        },
        'branch_offices': [
            {
                'city': 'New York',
                'country': 'USA'
            },
            {
                'city': 'London',
                'country': 'UK'
            }
        ]
    }
}

In [64]:
complex_dict.keys()

dict_keys(['company', 'employees', 'departments', 'locations'])

In [66]:
complex_dict['locations']['branch_offices'][0]['country']

'USA'

In [67]:
complex_dict['locations']['branch_offices']

[{'city': 'New York', 'country': 'USA'}, {'city': 'London', 'country': 'UK'}]

## Dictionary Methods

## update()

In [68]:
info = {"name":"Bappy", "age":22, "email":"boktiar@ineuron.ai"}

In [69]:
info.update({"phone":454654654})

In [70]:
info

{'name': 'Bappy', 'age': 22, 'email': 'boktiar@ineuron.ai', 'phone': 454654654}

In [71]:
extra_info = {"Gender":"male", "city":"Bengaluru", "Country":"india"}

In [72]:
info.update(extra_info)

In [73]:
info

{'name': 'Bappy',
 'age': 22,
 'email': 'boktiar@ineuron.ai',
 'phone': 454654654,
 'Gender': 'male',
 'city': 'Bengaluru',
 'Country': 'india'}

## clear()

In [74]:
info = {"name":"Bappy", "age":22, "email":"boktiar@ineuron.ai"}

In [75]:
info

{'name': 'Bappy', 'age': 22, 'email': 'boktiar@ineuron.ai'}

In [76]:
info.clear()

In [77]:
info

{}

## pop()

In [91]:
info = {"name":"Bappy", "age":22, "email":"boktiar@ineuron.ai"}

In [92]:
info

{'name': 'Bappy', 'age': 22, 'email': 'boktiar@ineuron.ai'}

In [93]:
info.pop("name")

'Bappy'

In [94]:
info

{'age': 22, 'email': 'boktiar@ineuron.ai'}

## popitem()

In [82]:
info = {"name":"Bappy", "age":22, "email":"boktiar@ineuron.ai"}
info

{'name': 'Bappy', 'age': 22, 'email': 'boktiar@ineuron.ai'}

In [83]:
info.popitem()

('email', 'boktiar@ineuron.ai')

In [84]:
info

{'name': 'Bappy', 'age': 22}

In [85]:
info = {"name":, "age":22, "email":"boktiar@ineuron.ai"}
info

SyntaxError: invalid syntax (3741458434.py, line 1)

In [86]:
info = {"name":"Bappy", "age":22, "email":"boktiar@ineuron.ai"}
info

{'name': 'Bappy', 'age': 22, 'email': 'boktiar@ineuron.ai'}

In [87]:
info[0]

KeyError: 0

In [88]:
info = {"name":"Bappy", "age":22, "email":"boktiar@ineuron.ai"}
info

{'name': 'Bappy', 'age': 22, 'email': 'boktiar@ineuron.ai'}

In [89]:
info['name'] = "karan"

In [90]:
info

{'name': 'karan', 'age': 22, 'email': 'boktiar@ineuron.ai'}

In [96]:
info = {"name":"Bappy", "age":22, "email":"boktiar@ineuron.ai"}
temp = info.copy()

In [97]:
temp

{'name': 'Bappy', 'age': 22, 'email': 'boktiar@ineuron.ai'}

In [98]:
newKey = 77

In [102]:
d = {1:2,3:4}

d[newKey] = d[1]
del d[1]

In [103]:
d

{3: 4, 77: 2}

## practice

In [113]:
# Write a  Python script to concatenate the following dictionaries to create a new one.

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

#Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [114]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

result = {}

for d in [dic1, dic2, dic3]:
    result.update(d)

print("Concatenated dictionary:", result)

Concatenated dictionary: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# Write a Python script to check whether a given key already exists in a dictionary.
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

user input = 1
print("yes")

print("no")

In [1]:
dic={1:20,2:20,3:30}

num=int(input())

if num in dic:
    print("yes")
else:
    print("no")

2
yes

In [ ]:
## Write a Python program to sum all the items in a dictionary.

my_dict = {'data1': 100, 'data2': 54, 'data3': 247}

In [2]:
100 + 54 + 247

401

In [3]:
d={'data1':100,'data2':54,'data3':247}
sum=0
for i in d.values():
    sum=sum+i
print(sum)

401

In [4]:
d={'data1':100,'data2':54,'data3':247}

In [7]:
out = 0
for i in d.values():
    out = out + i

print(out)

401

In [8]:


keys = ['a','b','c','d','e']
values = [1,2,3,4,5]  
 
 
myDict = { k:v for (k,v) in zip(keys, values)}  
 

print (myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [12]:
a = list(zip(keys, values))
a

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

In [14]:
for i,j in a:
    print(i,j)

a 1
b 2
c 3
d 4
e 5

## Assignment

In [ ]:
Write a Python program to count the number of items in a dictionary value that is a list.

dict =  {'Alex': ['subj1', 'subj2', 'subj3'], 'David': ['subj1', 'subj2']}

In [ ]:
Write a  Python program to sort Counter by value.
Sample data : {'Math':81, 'Physics':83, 'Chemistry':87}
Expected data: [('Chemistry', 87), ('Physics', 83), ('Math', 81)]

In [ ]:
Write a Python program to match key values in two dictionaries.
Sample dictionary: {'key1': 1, 'key2': 3, 'key3': 2}, {'key1': 1, 'key2': 2}
Expected output: key1: 1 is present in both x and y

In [ ]:
Write a  Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [20]:
info = {"name":"Bappy", "age":22, "email":"boktiar@ineuron.ai"}
info

{'name': 'Bappy', 'age': 22, 'email': 'boktiar@ineuron.ai'}

In [21]:
info_conpy = {"company":"ieuron", "age":7, "location":"bengaluru", "type":"ed tech"}
info_conpy

{'company': 'ieuron', 'age': 7, 'location': 'bengaluru', 'type': 'ed tech'}