In [1]:
print("OK")

OK

In [2]:
# PUBG Game

enemy = True

if enemy == True:
    print("Shoot")

else:
    print("Don't shoot")

Shoot

In [13]:
def pubg():
    """
    This function named pubg & returns shoot if enemy is there
    else returns dont shoot if enemy is not there.
    """
    enemy = True
    if enemy == True:
        print("Shoot")
    else:
        print("Don't shoot")

In [14]:
print(pubg.__doc__)

    This function named pubg & returns shoot if enemy is there
    else returns dont shoot if enemy is not there.

In [15]:
print(type.__doc__)

type(object) -> the object's type
type(name, bases, dict, **kwds) -> a new type

In [7]:
pubg()

Shoot

In [8]:
pubg()

Shoot

In [9]:
pubg()

Shoot

In [21]:
def odd_even(num):
    """
    This function named odd_even & returns odd & even with respect to number given by user
    INPUT: num
    Output: odd & even
    created on 11th May 2024
    """
    if type(num) == int:
        if num%2 == 0:
            return "even"
        else:
            return "odd"
        
    else:
        return "Are you mad?!!"

In [18]:
odd_even(3)

'odd'

In [22]:
odd_even("hello")

'Are you mad?!!'

## Parameters vs Arguments

#### Types of arguments

1. Default Arguments
2. Positional Arguments
3. Keyword Arguments

In [23]:
# positional arguments
def power(a,b):
    return a**b

In [28]:
power(5,2)

25

In [25]:
power()

TypeError: power() missing 2 required positional arguments: 'a' and 'b'

In [1]:
# default arguments
def power(a=2,b=3):
    return a**b

In [2]:
power(3, 4)

81

In [4]:
# keyword arguments
def power(a,b):
    return a**b

In [5]:
power(a = 3, b = 6)

729

In [6]:
power(b = 6, a = 3)

729

## args & kwargs

*args and **kwargs are special Python keywords that are used to pass the variable length of arguments to a function

# args

In [ ]:
# allows us to pass a variable number of non-keyword arguments to a function.

In [13]:
def adds(a,b,c,d):
    return a + b + c + d

In [14]:
adds(2,3,5, 8)

18

In [17]:
def adds(*args):
    output = 0

    for i in args:
        output = output + i

    print(args)
    
    return output

In [18]:
adds(1,2,3,4,45,5,6,7,7)

(1, 2, 3, 4, 45, 5, 6, 7, 7)

80

In [20]:
def adds(*bappy):
    output = 0

    for i in bappy:
        output = output + i

    print(bappy)
    
    return output

In [21]:
adds(1,2,3,4,45,5,6,7,7)

(1, 2, 3, 4, 45, 5, 6, 7, 7)

80

## kwargs

In [23]:
# **kwargs allows us to pass any number of keyword arguments.

In [31]:
def display_info(**kwargs):

    for (key,value) in kwargs.items():
        print(key, '->', value)

    print(kwargs)

In [32]:
display_info(india='delhi',srilanka='colombo',nepal='kathmandu',pakistan='islamabad')

india -> delhi
srilanka -> colombo
nepal -> kathmandu
pakistan -> islamabad
{'india': 'delhi', 'srilanka': 'colombo', 'nepal': 'kathmandu', 'pakistan': 'islamabad'}

# Nested Function

In [38]:
def f():

    def g():
        print("inside function g")
    
    g()
    print("inside function f")

In [39]:
f()

inside function g
inside function f

## Benefits of using a function

1. Code reusable
2. Code readable
3. Code Module

## Lamda Function

A lambda function is a small anonymous function.

In [40]:
def product(a,b):
    return a**b

In [41]:
product(2,3)

8

In [43]:
a = lambda a,b:a**b

In [45]:
a(2,3)

8

In [47]:
a = lambda s: 'e' in s
a("hello")

True

In [48]:
#odd & even function

a = lambda x: 'even' if x%2==0 else 'odd'
a(5)

'odd'

## Higer order function

In [50]:
def square(x):
    return x**2


l = [2,3,4,5]

for i in l:
    out  = square(i)
    print(out)

4
9
16
25

In [55]:
l = [2,3,4,5]

def square(x):
    return x**2


def transform(f, l):
    output = []

    for i in l:
        output.append(f(i))

    
    print(output)

In [61]:
transform(lambda x:square(x),l)

[4, 9, 16, 25]

In [63]:
my_list = [2, 3, 4, 5,6]
squared_list = list(map(lambda x: x ** 2, my_list))
print(squared_list)

[4, 9, 16, 25, 36]

In [64]:
my_list = [2, 3, 4, 5,6]
squared_list = list(map(lambda x: x ** 2, my_list))
print(squared_list)

[4, 9, 16, 25, 36]

## map()

In [4]:
l = [1,2,3,4,5,6]

# square the items of this list

In [2]:
def square(l):
    for i in l:
        print(i**2)

In [5]:
square(l)

1
4
9
16
25
36

In [8]:
a= list(map(lambda x:x**2, l))

In [9]:
a

[1, 4, 9, 16, 25, 36]

In [11]:
list(map(lambda x:x**2, l))

[1, 4, 9, 16, 25, 36]

In [12]:
## odd end even 

L = [1,2,3,4,5,6]

list(map(lambda x: 'even' if x%2==0 else 'odd', L))

['odd', 'even', 'odd', 'even', 'odd', 'even']

In [16]:
users = [
    {
        'name':'Rahul',
        'age':45,
        'gender':'male'
    },
    {
        'name':'Nitish',
        'age':33,
        'gender':'male'
    },
    {
        'name':'Ankita',
        'age':50,
        'gender':'female'
    }
]


gender = list(map(lambda users:users['gender'], users))

age = list(map(lambda users:users['age'], users))

In [17]:
gender

['male', 'male', 'female']

In [18]:
age

[45, 33, 50]

## filter()

In [19]:
L = [1,2,3,4,5,6]

# number grater than 3

list(filter(lambda x:x>3, L))

[4, 5, 6]

In [21]:
fruits = ["apple", "banana", 'cherry']

list(filter(lambda x:x.startswith('b'), fruits))

['banana']

## reduce()

In [23]:
import functools

In [27]:
L = [1,2,3,4,5,6]

In [29]:
functools.reduce(lambda x,y:x+y, L)

21

In [31]:
L = [1,2,3,4,5,6]

# find max value

functools.reduce(lambda x,y:x if x<y else y, L)

1

In [ ]:
L = [1, 2, 3, 4, 5, 6]
min_val = L[0]  # Assume the first element is the minimum initially

for num in L:
    if num < min_val:
        min_val = num

print("Minimum value in the list:", min_val)