### union() & update()

In [1]:
city_name1 = {"Tokyo", "Madrid", "Berlin", "Delhi"}
city_name2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}

city_name3 = city_name1.union(city_name2)

In [2]:
city_name3

{'Berlin', 'Delhi', 'Kabul', 'Madrid', 'Seoul', 'Tokyo'}

In [3]:
num1 = {1,2,3,4}
num2 = {3,4,5,6}

num3 = num1.union(num2)

In [4]:
num3

{1, 2, 3, 4, 5, 6}

In [7]:
city_name1 = {"Tokyo", "Madrid", "Berlin", "Delhi"}
city_name2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}

city_name1.update(city_name2)
city_name1

{'Berlin', 'Delhi', 'Kabul', 'Madrid', 'Seoul', 'Tokyo'}

### intersection & intersection_update()

In [8]:
city_name1 = {"Tokyo", "Madrid", "Berlin", "Delhi"}
city_name2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}

city_name3 = city_name1.intersection(city_name2)
city_name3

{'Madrid', 'Tokyo'}

In [9]:
num1 = {1,2,3,4}
num2 = {3,4,5,6}

num3 = num1.intersection(num2)
num3

{3, 4}

In [10]:
city_name1 = {"Tokyo", "Madrid", "Berlin", "Delhi"}
city_name2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}

city_name1.intersection_update(city_name2)
city_name1

{'Madrid', 'Tokyo'}

In [11]:
s1 = {1,2,3,'a',0.2}
s2 = {'a',0.2,4,7,8}
s3 = s1.union(s2)
s3

{0.2, 1, 2, 3, 4, 7, 8, 'a'}

### symmetric_difference

In [14]:
city_name1 = {"Tokyo", "Madrid", "Berlin", "Delhi"}
city_name2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}

city3 = city_name1.symmetric_difference(city_name2)
city3

{'Berlin', 'Delhi', 'Kabul', 'Seoul'}

### sets methods

### isdisjoint()

The isdisjoint() method checks if items of given set are present in another set. The method returns Flase if items are present,
else it returns True

In [16]:
city_name1 = {"Tokyo", "Madrid", "Berlin", "Delhi"}
city_name2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}

city_name1.isdisjoint(city_name2)

False

In [17]:
city_name1 = {"Tokyo", "Madrid", "Berlin", "Delhi"}
city_name2 = {"Tokyo1", "Seoul", "Kabul", "Madrid1"}

city_name1.isdisjoint(city_name2)

True

### add()

In [18]:
city_name1 = {"Tokyo", "Madrid", "Berlin", "Delhi"}
city_name1.add("Kolkata")

In [19]:
city_name1

{'Berlin', 'Delhi', 'Kolkata', 'Madrid', 'Tokyo'}

### Update()

In [20]:
city_name1 = {"Tokyo", "Madrid", "Berlin", "Delhi"}
city_name2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}

city_name1.update(city_name2)

In [21]:
city_name1

{'Berlin', 'Delhi', 'Kabul', 'Madrid', 'Seoul', 'Tokyo'}

### remove() & discard()

In [22]:
city_name1 = {"Tokyo", "Madrid", "Berlin", "Delhi"}
city_name1.remove("Tokyo")

In [23]:
city_name1

{'Berlin', 'Delhi', 'Madrid'}

In [24]:
city_name1 = {"Tokyo", "Madrid", "Berlin", "Delhi"}
city_name1.remove("kolkata")

KeyError: 'kolkata'

In [25]:
city_name1 = {"Tokyo", "Madrid", "Berlin", "Delhi"}
city_name1.discard("kolkata")

In [26]:
city_name1

{'Berlin', 'Delhi', 'Madrid', 'Tokyo'}

In [27]:
city_name1 = {"Tokyo", "Madrid", "Berlin", "Delhi"}
city_name1.discard("Tokyo")
city_name1

{'Berlin', 'Delhi', 'Madrid'}

### pop()

it will remove elment randomly - 3.8
it will remove item from last - 3.6, 3.7

In [36]:
city_name1 = {"Tokyo", "Madrid", "Berlin", "Delhi"}
city_name1.pop()

'Berlin'

In [35]:
print(city_name1)

{'Berlin', 'Madrid', 'Tokyo', 'Delhi'}

In [37]:
city_name1

{'Delhi', 'Madrid', 'Tokyo'}

In [38]:
city_name1={'Tokyo','Madrid','delhi','mumbai'}

city_name1.pop()
city_name1

{'Madrid', 'Tokyo', 'delhi'}

In [44]:
city_name1={'Tokyo','Madrid','delhi','mumbai'}

city_name1 = list(city_name1)
city_name1.pop()
city_name1
city_name1 = set(city_name1)
city_name1

{'Madrid', 'delhi', 'mumbai'}

## clear()

In [45]:
city_name1={'Tokyo','Madrid','delhi','mumbai'}
city_name1.clear()

In [46]:
city_name1

set()

for more maupulation

Type casting --->recommeded

### enumerate

In [53]:
name = ['bappy', 'sunny', 'krish', 'krish']

In [54]:
for i in range(len(name)):
    print(i, name[i])

0 bappy
1 sunny
2 krish
3 krish

In [52]:
for i in enumerate(name):
    print(i)

(0, 'bappy')
(1, 'sunny')
(2, 'krish')

In [50]:
for i,j in enumerate(name):
    print(i,j)

0 bappy
1 sunny
2 krish

In [55]:
d = {"name": "bappy", "roll":45}

In [56]:
for i in enumerate(d):
    print(i)

(0, 'name')
(1, 'roll')

In [59]:
name = ['krishna','bavan','sunny','modi']
name[0]

'krishna'

In [60]:
name = {'krishna','bavan','sunny','modi'}
name = list(name)
for i in range(len(name)):
    print(i,name[i])

0 sunny
1 modi
2 bavan
3 krishna

In [62]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9